node_modules
.vscode/**
.vscode-test/**
out/test/**
src/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.eslintignore
**/*.map
**/*.ts
.gitignore
.gitmodules
.github
package-lock.json
*.vsix